<h2>Edit Tournament Information</h2>
<div class="row">

  <div class="col-md-6">
    {{tournament-item-form item=model buttonLabel='Save changes' action='saveTournament'}}
  </div>

  <div class="col-md-4">
    {{#tournament-item item=model}}
      <br/>
    {{/tournament-item}}
  </div>

</div>
