<div class="jumbotron">
  <div class="right"></div>
  <h2>About FiteMiiIRL</h2>
  <p>
    The FiteMiiIRL website is a project created by using ember.js and its plugins. This site is where you to create your own tournaments and explore any gaming events occurring around your location.
  </p>
  {{#link-to "contact" class="button" }}
    Contact Us
  {{/link-to}}
</div>
