<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome to FiteMiiIRL</h2>
  <p>
<<<<<<< HEAD
    FiteMiiIRL has a variety of settings that can fit your friday night game with friends.
=======
    We hope you find the competition to build your competitive edge.
>>>>>>> 873c0f740cc16c7330b28d4277e12a73a7df3c37
  </p>
  {{#link-to "about" class="button" }}
    About Us
  {{/link-to}}
</div>

{{#each model as |tournamentUnit|}}
  {{tournament-list tournaments=tournamentUnit buttonlabel=buttonLabeled action='saveAttender'}}
{{/each}}
